<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="container text-center">

<h1>About</h1>
<h2>This website is to generate password</h2>
<p>Select Uppercase to include uppercase letter</p>
<p>Select Numbers to include number</p>
<p>Select Special characters to include special characters</p>
<a href="{% url 'home' %}" class="btn btn-success">Home</a>
</div>
